*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  padding: 2rem;
  /*height: 100vh;*/
}
.smile{
  display: flex;
  /*grid-template-columns: auto;*/
  flex: 0 50%;
}
.smile_box{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 15rem;
  height: auto;
  padding: 1rem;
  margin: 1rem;

}
.smile_box_img img{
  width: 100%;
  max-width: 300px;
}
.winner.smile_box{
  background: url("../public/assets/img/Winner.png");
}
button.btn_result_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  width: 100%;
  max-width: 200px;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: crimson;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}